/*
*
* TITLE
*
*/

section.part5 .partContainer-content h2{
    width: rem(430);
}

section.part5 .partContainer-content h2::after{
    background-color: $green;
}

/*
*
* FIGURES/STATS/MAPS
*
*/

section.part5 .partContainer-content .partContainer-stats-1 {
    border: thin solid $green;
}

section.part5 .partContainer-content .partContainer-stats-2 {
    width: auto;
    height: auto;
    align-self: flex-start;
    margin: 0 0 -5% -10%;

    #compteur {
      max-width: 90%;
    }
}

section.part5 .part5-content .partContainer-slide footer {
  position: absolute;
  bottom: -60px;
  z-index: 2;
  background: $grey-background;
  width: 101%;
  height: 11%;
  transform: translateX(-3.14rem);

  p {
    margin: 5px;
    color: white;
    width: 97%;
    font-size: rem(18.5);
    font-style: italic;
    text-align: center;
  }
}
