
/*
* KEYFRAMES
*/

@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.logo{
  max-height: 300px;
}

#mouse-wheel,
#Path-A{
  -webkit-animation: upanddown 2s infinite;
}

@keyframes upanddown {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(7px);
  }
  100%{
    transform: translateY(0px);
  }
}
